.one {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    max-width: 1200px;
    min-width: 400px;
}

img {
    width: 100%;
    height: 50%;



}

 .btn {
    background-color: gray;
    font-weight: bolder;
    width: 80px;
    height: 30px;
    border: 1px solid black;
    display: inline;
    /* min-width: 400px;
max-width: 1200px;   */

}

.two {
    display: inline;
    width: 99%;
    max-width: 1200px;
    min-width: 100px;
    /* border: 1px solid black; */
}

.three {
    /* display: inline; */
    width: 19%;
 
    /* min-width: 200px; */
}

.btn4 {
    width: 80px;
    height: 30px;
    /* margin-left: 60.55%; */
    
    background-color: cornflowerblue;
    font-weight: bolder;
    /* display: inline; */
    /* min-width: auto;*/
    
max-width: auto; 
float: right;
}
